html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#body{background-color:rgb(255,255,255);}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:7px;}
.size{width:100%;min-width:1200px;min-height:327px;}
.cont{z-index:1;pointer-events:none;border:0;background-image:url(../images/ding-960.jpg);background-color:rgb(184,200,210);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.pos-2{position:relative;margin-top:17px;}
.vis-2{display:block;vertical-align:top;}
.section{min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;}
.pos-3{position:relative;margin-left:22px;margin-top:0;}
.size-2{min-width:1105px;width:1105px;min-height:48px;}
.pos-4{position:relative;margin-left:0;margin-top:0;}
.size-3{min-width:197px;width:197px;min-height:48px;height:48px;}
.cont-3{z-index:2;pointer-events:auto;}
.img{position:absolute;left:0;width:197px;height:41px;top:3px;border:0;}
.img-2{left:0;width:197px;height:41px;top:3px;display:inline-block;}
.vis-3{display:inline-block;vertical-align:top;overflow:hidden;}
.pos-5{position:relative;margin-left:509px;margin-top:0;}
.size-4{min-width:71px;width:71px;min-height:35px;height:35px;}
.cont-4{z-index:4;pointer-events:auto;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font{font-family:"?¶", serif;font-size:16px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:30px;letter-spacing:normal;text-shadow:none;}
.pos-6{position:relative;margin-left:92px;margin-top:0;}
.size-5{min-width:68px;width:68px;min-height:35px;height:35px;}
.cont-5{z-index:5;pointer-events:auto;}
.pos-7{position:relative;margin-left:93px;margin-top:0;}
.size-6{min-width:75px;width:75px;min-height:35px;height:35px;}
.cont-6{z-index:6;pointer-events:auto;}
.pos-8{position:relative;margin-left:0;margin-top:32px;}
.size-7{min-width:1193px;width:1193px;min-height:205px;}
.size-8{min-width:332px;width:332px;min-height:205px;height:205px;}
.cont-7{z-index:3;pointer-events:auto;}
.img-3{position:absolute;left:0;width:332px;height:66px;top:70px;border:0;}
.img-4{left:0;width:332px;height:66px;top:70px;display:inline-block;}
.pos-9{position:relative;margin-left:713px;margin-top:67px;}
.size-9{min-width:148px;width:148px;min-height:87px;height:87px;}
.cont-8{z-index:7;pointer-events:auto;}
.img-5{position:absolute;left:0;width:148px;height:53px;top:17px;border:0;}
.img-6{left:0;width:148px;height:53px;top:17px;display:inline-block;}
.pos-10{position:relative;margin-top:-64px;}
.section-2{pointer-events:none;min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;}
.pos-11{position:relative;margin-left:0;margin-top:0;}
.size-10{min-width:1200px;width:1200px;min-height:359px;height:359px;}
.cont-9{z-index:8;pointer-events:auto;}
.img-7{position:absolute;left:0;width:1200px;height:342px;top:8px;border:0;}
.img-8{left:0;width:1200px;height:342px;top:8px;display:inline-block;}
.pos-12{position:relative;margin-left:63px;margin-top:27px;}
.size-11{min-width:1118px;width:1118px;min-height:54px;}
.pos-13{position:relative;margin-left:0;margin-top:2px;}
.size-12{min-width:40px;width:40px;min-height:31px;height:31px;}
.cont-10{pointer-events:auto;}
.img-9{position:absolute;left:4px;width:32px;height:31px;top:0;border:0;}
.img-10{left:4px;width:32px;height:31px;top:0;display:inline-block;}
.pos-14{position:relative;margin-left:12px;margin-top:0;}
.size-13{min-width:343px;width:343px;min-height:44px;height:44px;}
.font-2{font-family:"Helvetica Neue", sans-serif;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:30px;letter-spacing:normal;text-shadow:none;}
.pos-15{position:relative;margin-left:301px;margin-top:2px;}
.size-14{min-width:40px;width:40px;min-height:31px;height:31px;}
.img-11{position:absolute;left:7px;width:26px;height:31px;top:0;border:0;}
.img-12{left:7px;width:26px;height:31px;top:0;display:inline-block;}
.pos-16{position:relative;margin-left:10px;margin-top:0;}
.size-15{min-width:195px;width:195px;min-height:54px;height:54px;}
.cont-11{z-index:11;pointer-events:auto;}
.font-3{font-family:"PingFang SC", sans-serif;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:36px;letter-spacing:normal;text-shadow:none;}
.pos-17{position:relative;margin-left:-7px;margin-top:2px;}
.size-16{min-width:42px;width:42px;min-height:31px;height:31px;}
.cont-12{z-index:15;pointer-events:auto;}
.img-13{position:absolute;left:5px;width:32px;height:31px;top:0;border:0;}
.img-14{left:5px;width:32px;height:31px;top:0;display:inline-block;}
.pos-18{position:relative;margin-left:17px;margin-top:0;}
.size-17{min-width:125px;width:125px;min-height:54px;height:54px;}
.pos-19{position:relative;margin-left:70px;margin-top:28px;}
.size-18{min-width:1062px;width:1062px;min-height:143px;}
.size-19{min-width:284px;width:284px;min-height:143px;height:143px;}
.img-15{position:absolute;left:0;width:284px;height:143px;top:0;border:0;}
.img-16{left:0;width:284px;height:143px;top:0;display:inline-block;}
.pos-20{position:relative;margin-left:104px;margin-top:0;}
.size-20{min-width:284px;width:284px;min-height:143px;height:143px;}
.img-17{position:absolute;left:0;width:284px;height:143px;top:0;border:0;}
.img-18{left:0;width:284px;height:143px;top:0;display:inline-block;}
.pos-21{position:relative;margin-left:103px;margin-top:0;}
.size-21{min-width:287px;width:287px;min-height:143px;height:143px;}
.img-19{position:absolute;left:0;width:287px;height:143px;top:0;border:0;}
.img-20{left:0;width:287px;height:143px;top:0;display:inline-block;}
.pos-22{position:relative;margin-left:81px;margin-top:12px;}
.size-22{min-width:1050px;width:1050px;min-height:119px;}
.size-23{min-width:273px;width:273px;min-height:119px;}
.colwrapper{line-height:0;}
.size-24{min-width:273px;width:273px;min-height:64px;height:64px;}
.font-4{font-family:"PingFang SC", sans-serif;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:28px;letter-spacing:normal;text-shadow:none;}
.size-25{min-width:251px;width:251px;min-height:55px;height:55px;}
.cont-13{z-index:25;pointer-events:auto;}
.font-5{font-family:"PingFang SC", sans-serif;font-size:13px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:20px;letter-spacing:normal;text-shadow:none;}
.pos-23{position:relative;margin-left:115px;margin-top:0;}
.size-26{min-width:273px;width:273px;min-height:107px;}
.size-27{min-width:273px;width:273px;min-height:83px;height:83px;}
.cont-14{z-index:19;pointer-events:auto;}
.pos-24{position:relative;margin-left:0;margin-top:-19px;}
.size-28{min-width:250px;width:250px;min-height:43px;height:43px;}
.cont-15{z-index:22;pointer-events:auto;}
.pos-25{position:relative;margin-left:114px;margin-top:0;}
.size-29{min-width:275px;width:275px;min-height:115px;}
.size-30{min-width:275px;width:275px;min-height:64px;height:64px;}
.size-31{min-width:251px;width:251px;min-height:51px;height:51px;}
.cont-16{z-index:27;pointer-events:auto;}
.pos-26{position:relative;margin-left:70px;margin-top:15px;}
.size-32{min-width:1062px;width:1062px;min-height:144px;}
.size-33{min-width:284px;width:284px;min-height:144px;height:144px;}
.cont-17{z-index:21;pointer-events:auto;}
.img-21{position:absolute;left:0;width:284px;height:143px;top:1px;border:0;}
.img-22{left:0;width:284px;height:143px;top:1px;display:inline-block;}
.size-34{min-width:284px;width:284px;min-height:144px;height:144px;}
.img-23{position:absolute;left:0;width:284px;height:143px;top:1px;border:0;}
.img-24{left:0;width:284px;height:143px;top:1px;display:inline-block;}
.size-35{min-width:287px;width:287px;min-height:144px;height:144px;}
.cont-18{z-index:23;pointer-events:auto;}
.img-25{position:absolute;left:0;width:287px;height:143px;top:1px;border:0;}
.img-26{left:0;width:287px;height:143px;top:1px;display:inline-block;}
.pos-27{position:relative;margin-left:81px;margin-top:7px;}
.size-36{min-width:1050px;width:1050px;min-height:120px;}
.size-37{min-width:273px;width:273px;min-height:120px;}
.size-38{min-width:273px;width:273px;min-height:63px;height:63px;}
.cont-19{z-index:28;pointer-events:auto;}
.font-6{font-family:"PingFang SC", sans-serif;font-size:16px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:25px;letter-spacing:normal;text-shadow:none;}
.pos-28{position:relative;margin-left:0;margin-top:0;}
.size-39{min-width:251px;width:251px;min-height:57px;height:57px;}
.cont-20{z-index:32;pointer-events:auto;}
.pos-29{position:relative;margin-left:115px;margin-top:0;}
.size-40{min-width:273px;width:273px;min-height:119px;}
.size-41{min-width:273px;width:273px;min-height:82px;height:82px;}
.cont-21{z-index:29;pointer-events:auto;}
.pos-30{position:relative;margin-left:0;margin-top:-19px;}
.size-42{min-width:238px;width:238px;min-height:56px;height:56px;}
.cont-22{z-index:33;pointer-events:auto;}
.pos-31{position:relative;margin-left:114px;margin-top:0;}
.size-43{min-width:275px;width:275px;min-height:95px;}
.size-44{min-width:275px;width:275px;min-height:63px;height:63px;}
.cont-23{z-index:30;pointer-events:auto;}
.pos-32{position:relative;margin-left:0;margin-top:-29px;}
.size-45{min-width:251px;width:251px;min-height:61px;height:61px;}
.cont-24{z-index:31;pointer-events:auto;}
.pos-33{position:relative;margin-left:70px;margin-top:85px;}
.size-46{min-width:1061px;width:1061px;min-height:1126px;}
.pos-34{position:relative;margin-left:395px;margin-top:0;}
.size-47{min-width:277px;width:277px;min-height:120px;height:120px;}
.img-27{position:absolute;left:0;width:277px;height:56px;top:32px;border:0;}
.img-28{left:0;width:277px;height:56px;top:32px;display:inline-block;}
.pos-35{position:relative;margin-left:0;margin-top:18px;}
.size-48{min-width:1061px;width:1061px;min-height:137px;}
.cont-25{pointer-events:none;}
.size-49{min-width:286px;width:286px;min-height:137px;height:137px;}
.img-29{position:absolute;left:0;width:286px;height:126px;top:5px;border:0;}
.img-30{left:0;width:286px;height:126px;top:5px;display:inline-block;}
.pos-36{position:relative;margin-left:104px;margin-top:0;}
.pos-37{position:relative;margin-left:99px;margin-top:0;}
.pos-38{position:relative;margin-left:0;margin-top:34px;}
.size-50{min-width:1061px;width:1061px;min-height:137px;}
.size-51{min-width:286px;width:286px;min-height:137px;height:137px;}
.pos-39{position:relative;margin-left:0;margin-top:32px;}
.size-52{min-width:1061px;width:1061px;min-height:139px;}
.size-53{min-width:286px;width:286px;min-height:139px;height:139px;}
.img-31{position:absolute;left:0;width:286px;height:126px;top:6px;border:0;}
.img-32{left:0;width:286px;height:126px;top:6px;display:inline-block;}
.pos-40{position:relative;margin-left:0;margin-top:30px;}
.size-54{min-width:1061px;width:1061px;min-height:139px;}
.size-55{min-width:286px;width:286px;min-height:139px;height:139px;}
.img-33{position:absolute;left:0;width:286px;height:126px;top:6px;border:0;}
.img-34{left:0;width:286px;height:126px;top:6px;display:inline-block;}
.pos-41{position:relative;margin-left:0;margin-top:33px;}
.size-56{min-width:1061px;width:1061px;min-height:138px;}
.size-57{min-width:286px;width:286px;min-height:138px;height:138px;}
.pos-42{position:relative;margin-top:160px;}
.size-58{width:100%;min-width:1200px;min-height:188px;height:188px;}
.cont-26{pointer-events:none;border:0;background-image:url(../images/di-bu-2400.png);background-color:rgb(184,200,210);background-repeat:no-repeat;background-position:50% 50%;background-clip:padding-box;}
@media (max-width:1199px) {
.pos{margin-top:1px;}
.size{min-width:960px;min-height:261px;}
.pos-2{margin-top:15px;}
.section{min-width:960px;width:960px;}
.size-2{min-width:938px;width:938px;min-height:57px;}
.size-3{min-width:138px;width:138px;min-height:33px;height:33px;}
.img{width:138px;height:29px;top:2px;}
.img-2{width:138px;height:29px;top:2px;}
.pos-5{margin-left:413px;margin-top:5px;}
.size-4{min-width:101px;width:101px;min-height:52px;height:52px;}
.pos-6{margin-left:53px;margin-top:5px;}
.size-5{min-width:110px;width:110px;min-height:37px;height:37px;}
.pos-7{margin-left:51px;margin-top:5px;}
.size-6{min-width:72px;width:72px;min-height:37px;height:37px;}
.pos-8{margin-left:11px;margin-top:6px;}
.size-7{min-width:947px;width:947px;min-height:163px;}
.size-8{min-width:279px;width:279px;min-height:163px;height:163px;}
.img-3{width:279px;height:56px;top:53px;}
.img-4{width:279px;height:56px;top:53px;}
.pos-9{margin-left:533px;margin-top:42px;}
.size-9{min-width:135px;width:135px;min-height:79px;height:79px;}
.img-5{width:135px;height:49px;top:15px;}
.img-6{width:135px;height:49px;top:15px;}
.pos-10{margin-top:-62px;}
.section-2{min-width:960px;width:960px;}
.pos-11{margin-left:1px;}
.size-10{min-width:959px;width:959px;min-height:286px;height:286px;}
.img-7{width:959px;height:273px;top:7px;}
.img-8{width:959px;height:273px;top:7px;}
.pos-12{margin-left:24px;margin-top:24px;}
.size-11{min-width:926px;width:926px;min-height:63px;}
.pos-13{margin-top:6px;}
.size-12{min-width:28px;width:28px;min-height:21px;height:21px;}
.img-9{left:3px;width:22px;height:21px;}
.img-10{left:3px;width:22px;height:21px;}
.pos-14{margin-left:15px;}
.size-13{min-width:253px;width:253px;min-height:58px;height:58px;}
.font-2{font-size:16px;line-height:27px;}
.pos-15{margin-left:281px;margin-top:6px;}
.size-14{min-width:29px;width:29px;min-height:21px;height:21px;}
.img-11{left:6px;width:18px;height:21px;}
.img-12{left:6px;width:18px;height:21px;}
.size-15{min-width:170px;width:170px;min-height:63px;height:63px;}
.font-3{font-size:16px;line-height:32px;}
.pos-17{margin-left:4px;margin-top:6px;}
.size-16{min-width:27px;width:27px;min-height:19px;height:19px;}
.img-13{left:4px;width:20px;height:19px;}
.img-14{left:4px;width:20px;height:19px;}
.pos-18{margin-left:7px;}
.size-17{min-width:102px;width:102px;min-height:58px;height:58px;}
.pos-19{margin-left:11px;margin-top:1px;}
.size-18{min-width:939px;width:939px;min-height:125px;}
.size-19{min-width:252px;width:252px;min-height:125px;height:125px;}
.img-15{left:1px;width:249px;height:125px;}
.img-16{left:1px;width:249px;height:125px;}
.pos-20{margin-left:91px;}
.size-20{min-width:253px;width:253px;min-height:125px;height:125px;}
.img-17{left:2px;width:249px;height:125px;}
.img-18{left:2px;width:249px;height:125px;}
.pos-21{margin-left:91px;}
.size-21{min-width:252px;width:252px;min-height:125px;height:125px;}
.img-19{left:1px;width:251px;height:125px;}
.img-20{left:1px;width:251px;height:125px;}
.pos-22{margin-left:24px;margin-top:15px;}
.size-22{min-width:931px;width:931px;min-height:125px;}
.size-23{min-width:280px;width:280px;}
.size-24{min-width:245px;width:245px;min-height:57px;height:57px;}
.font-4{font-size:16px;line-height:25px;letter-spacing:1.00px;}
.size-25{min-width:280px;width:280px;min-height:62px;height:62px;}
.font-5{font-size:12px;line-height:18px;}
.pos-23{margin-left:66px;}
.size-26{min-width:247px;width:247px;min-height:111px;}
.size-27{min-width:246px;width:246px;min-height:74px;height:74px;}
.pos-24{margin-left:1px;margin-top:-17px;}
.size-28{min-width:246px;width:246px;min-height:54px;height:54px;}
.pos-25{margin-left:93px;}
.size-29{min-width:245px;width:245px;min-height:125px;}
.size-30{min-width:245px;width:245px;min-height:57px;height:57px;}
.size-31{min-width:219px;width:219px;min-height:68px;height:68px;}
.pos-26{margin-left:11px;margin-top:-9px;}
.size-32{min-width:939px;width:939px;min-height:125px;}
.size-33{min-width:252px;width:252px;min-height:125px;height:125px;}
.img-21{left:1px;width:249px;height:125px;top:0;}
.img-22{left:1px;width:249px;height:125px;top:0;}
.size-34{min-width:253px;width:253px;min-height:125px;height:125px;}
.img-23{left:2px;width:249px;height:125px;top:0;}
.img-24{left:2px;width:249px;height:125px;top:0;}
.size-35{min-width:252px;width:252px;min-height:125px;height:125px;}
.img-25{width:252px;height:125px;top:0;}
.img-26{width:252px;height:125px;top:0;}
.pos-27{margin-left:24px;margin-top:15px;}
.size-36{min-width:927px;width:927px;min-height:116px;}
.size-37{min-width:245px;width:245px;min-height:116px;}
.size-38{min-width:245px;width:245px;min-height:57px;height:57px;}
.font-6{letter-spacing:1.00px;}
.pos-28{margin-left:1px;margin-top:-4px;}
.size-39{min-width:240px;width:240px;min-height:63px;height:63px;}
.pos-29{margin-left:102px;}
.size-40{min-width:250px;width:250px;min-height:98px;}
.size-41{min-width:250px;width:250px;min-height:74px;height:74px;}
.pos-30{margin-left:1px;margin-top:-21px;}
.size-42{min-width:81px;width:81px;min-height:45px;height:45px;}
.pos-31{margin-left:84px;}
.size-43{min-width:246px;width:246px;min-height:98px;}
.size-44{min-width:245px;width:245px;min-height:57px;height:57px;}
.pos-32{margin-left:1px;}
.size-45{min-width:245px;width:245px;min-height:70px;height:70px;}
.pos-33{margin-left:1px;margin-top:50px;}
.size-46{min-width:959px;width:959px;min-height:1018px;}
.pos-34{margin-left:357px;}
.size-47{min-width:252px;width:252px;min-height:110px;height:110px;}
.img-27{width:252px;height:51px;top:30px;}
.img-28{width:252px;height:51px;top:30px;}
.pos-35{margin-top:16px;}
.size-48{min-width:959px;width:959px;min-height:124px;}
.size-49{min-width:258px;width:258px;min-height:124px;height:124px;}
.img-29{width:258px;height:114px;}
.img-30{width:258px;height:114px;}
.pos-36{margin-left:94px;}
.pos-37{margin-left:91px;}
.pos-38{margin-top:30px;}
.size-50{min-width:959px;width:959px;min-height:125px;}
.size-51{min-width:258px;width:258px;min-height:125px;height:125px;}
.pos-39{margin-top:28px;}
.size-52{min-width:959px;width:959px;min-height:125px;}
.size-53{min-width:258px;width:258px;min-height:125px;height:125px;}
.img-31{width:258px;height:114px;top:5px;}
.img-32{width:258px;height:114px;top:5px;}
.pos-40{margin-top:27px;}
.size-54{min-width:959px;width:959px;min-height:126px;}
.size-55{min-width:258px;width:258px;min-height:126px;height:126px;}
.img-33{width:258px;height:114px;}
.img-34{width:258px;height:114px;}
.pos-41{margin-top:30px;}
.size-56{min-width:959px;width:959px;min-height:124px;}
.size-57{min-width:258px;width:258px;min-height:124px;height:124px;}
.pos-42{margin-top:74px;}
.size-58{min-width:960px;min-height:150px;height:150px;}
}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont{background-image:url(../images/ding-1920.jpg);}
}
@media (max-width:1199px) and (-webkit-min-device-pixel-ratio:2), (max-width:1199px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/ding-1920.jpg);}
}
@media (min-width:960px) {
.cont{background-image:url(../images/ding-1200.jpg);}
}
@media (min-width:960px) and (-webkit-min-device-pixel-ratio:2),(min-width:960px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/ding-2400.jpg);}
}
@media (min-width:1200px) {
.cont{background-image:url(../images/ding-1600.jpg);}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/ding-3200.jpg);}
}
@media (min-width:1600px) {
.cont{background-image:url(../images/ding-2000.jpg);}
}
